# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
**/*.usd
**/*.usda
**/*.usdc
**/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
datasets

# Deploy
*.pt
*.obj
*.mtl
*.STL
**/env.yaml

# Mimic
*.npz
.reasonix/truncated-results/1782285097358-69b574a0-run_background.txt
.reasonix/truncated-results/1782286023535-788e9165-run_background.txt
.reasonix/truncated-results/1782288105897-e6d822d0-run_background.txt
.reasonix/truncated-results/1782295404602-886ffd13-run_background.txt
.reasonix/truncated-results/1782295498128-6ccb4d78-run_background.txt
.reasonix/truncated-results/1782295541089-c05532e1-run_background.txt
eval_output.txt
